<h2 mat-dialog-title>Add New Task</h2>
<mat-dialog-content class="mat-typography">
  <ng-template #loader>
    <mat-spinner class="mx-auto"></mat-spinner>
  </ng-template>
  <ng-container *ngIf="!isLoading; else loader;">
    <form [formGroup]="classworkForm">

      <!-- <mat-form-field> -->
      <br>
      <mat-radio-group aria-label="Select an option" formControlName="task_type" [color]="'primary'">
        <mat-label class="mr-2">Task Type: </mat-label>
        <mat-radio-button class="mr-3" value="1" [checked]="task_type==='assignment'">Assignment</mat-radio-button>
        <mat-radio-button value="2" [checked]="task_type==='term_test'">Term Test</mat-radio-button>
      </mat-radio-group>
      <br>
      <!-- </mat-form-field> -->

      <!-- Total Marks -->
      <mat-form-field class="w-25" class="mt-2">
        <mat-label>Total Marks</mat-label>
        <input formControlName="total_marks" matInput>
        <mat-error *ngIf="classworkForm.get('total_marks').hasError('required')">
          Required
        </mat-error>
        <mat-error *ngIf="classworkForm.get('total_marks').hasError('pattern')">
          Enter Only Number
        </mat-error>
      </mat-form-field>
      <br>

      <!-- Date Time Picker -->
      <mat-form-field class="mt-3">
        <input matInput [ngxMatDatetimePicker]="picker" [min]="minDate" placeholder="Choose a date"
          formControlName="deadlineDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [color]="'primary'" [enableMeridian]="true">
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <!-- Details -->
      <mat-form-field class="w-100">
        <mat-label>Details</mat-label>
        <textarea formControlName="details" matInput rows="6"></textarea>
        <mat-error *ngIf="classworkForm.get('details').hasError('required')">
          Required
        </mat-error>
      </mat-form-field>

      <!-- File Drop Zone -->
      <!-- <div class="mt-3">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
          (onFileLeave)="fileLeave($event)" multiple="true">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <button mat-raised-button type="button" (click)="openFileSelector()">Browse</button>
            <span>&nbsp; or Drop your files</span>
          </ng-template>
        </ngx-file-drop>
      </div> -->

      <!-- Drop Zone File show -->
      <!-- <mat-form-field class="w-100" *ngIf="files.length > 0">
        <mat-chip-list aria-label="Selected Files">
          <mat-chip *ngFor="let file of files; let i=index" [removable]="true" (removed)="removeFile(file)">
            {{ file.relativePath }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-form-field> -->

    </form>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" [disabled]="classworkForm.invalid" (click)="onSubmit()">Create</button>
</mat-dialog-actions>
