<div class="row">
  <mat-card class="login-card mx-auto p-4">
    <ng-template #loader>
      <mat-spinner class="mx-auto"></mat-spinner>
    </ng-template>
    <ng-container *ngIf="!isLoading;else loader">
      <mat-card-header>
        <div class="mx-auto">
          <mat-card-title>Login</mat-card-title>
        </div>
      </mat-card-header>
      <form [formGroup]="authenticationForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControlName]="'email'" placeholder="Ex. pat@example.com">
            <mat-error
              *ngIf="authenticationForm.get('email').hasError('email') && !authenticationForm.get('email').hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="authenticationForm.get('email').hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-raised-button color="primary" [disabled]="authenticationForm.invalid">
            Send Email
          </button>
        </mat-card-actions>
      </form>
    </ng-container>
  </mat-card>
</div>
