<div class="row mt-3">
  <div class="col-12">
    <mat-card>

      <mat-card-header>

        <div mat-card-avatar class="post-user-image"></div>

        <div class="ml-auto">
          <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item color="warn">
              <mat-icon>delete</mat-icon>
              <span class="text-danger">Delete</span>
            </button>
          </mat-menu>
        </div>

        <mat-card-title>{{ post.user.name }}</mat-card-title>
        <mat-card-subtitle>{{ post.createdAt |date : 'medium' }}</mat-card-subtitle>

      </mat-card-header>

      <mat-card-content>
        <p class="text-justify">
          {{ post.content }}
        </p>
        <mat-divider></mat-divider>
      </mat-card-content>

      <app-classroom-post-comment [comments]="post.comments" [postId]="post.id"></app-classroom-post-comment>

    </mat-card>
  </div>
</div>
