<h2 mat-dialog-title>Add New Classroom</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="classroomForm">

        <!-- <h3>session:</h3> -->
        <mat-form-field appearance="legacy" class="w-100">
            <mat-label>Session</mat-label>
            <mat-select [formControlName]="'session'">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let session of sessions" [value]="session.id">
                    {{session.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="classroomForm.get('session').hasError('required')">
                Please choose a session
            </mat-error>
        </mat-form-field>
        <br>

        <!-- <h3>course:</h3> -->
        <mat-form-field appearance="legacy" class="w-100">
            <mat-label>Course</mat-label>
            <mat-select [formControlName]="'course'">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let course of courses" [value]="course.id">
                    {{course.title}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="classroomForm.get('course').hasError('required')">
                Please choose a course
            </mat-error>
        </mat-form-field>
        <br>

        <!-- Medicines -->
        <div class="row my-2">
            <div class="col-12" [formArrayName]="'medicines'">
                <!-- +Extra Student -->
                <button (click)="onAddMedicine()" type="button" class="mr-2" mat-stroked-button color="primary">
                    +Add Extra Student
                </button>
                <br>
                <div class="row" *ngFor="let igControl of classroomForm.get('medicines')['controls']; let i = index"
                    [formGroupName]="i">
                    <div class="col-10">
                        <mat-form-field appearance="legacy" class="w-100">
                            <mat-label>Student Name or Email: </mat-label>
                            <input matInput [formControlName]="'name'">
                            <mat-error
                                *ngIf="classroomForm.get('medicines')['controls'][i].get('name').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <button (click)="onDeleteMedicine(i)" type="button" class="btn btn-outline-danger">
                            x
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <button type="submit" mat-raised-button color="primary" [disabled]="classroomForm.invalid">
            Submit
        </button> -->
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" [disabled]="classroomForm.invalid" (click)="onSubmit()">Create</button>
</mat-dialog-actions>