<ng-template #loader>
  <mat-spinner class="mx-auto"></mat-spinner>
</ng-template>

<ng-container *ngIf="!isLoading; else loader">
  <mat-expansion-panel (opened)="commentPanelOpenState = true" (closed)="commentPanelOpenState = false"
    style="box-shadow: none;" class="mt-3 w-100">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="text-info">Comments ({{ comments.length }})</span>
      </mat-panel-title>
      <mat-panel-description>
        {{commentPanelOpenState ? 'Hide' : 'View'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let comment of comments">
      <mat-card class="mt-1 pb-0">
        <mat-card-header>

          <div mat-card-avatar class="comment-user-image"></div>

          <ng-container *ngIf="user && user.id === comment.user.id">
            <div class="ml-auto">
              <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item color="warn" (click)="onDelete(comment)">
                  <mat-icon>delete</mat-icon>
                  <span class="text-danger">Delete</span>
                </button>
              </mat-menu>
            </div>
          </ng-container>


          <mat-card-title style="font-size: medium;">
            {{ comment.user.name }} -
            <span style="font-size: small;">{{ comment.createdAt |date: 'medium' }}</span>

          </mat-card-title>
          <mat-card-subtitle style="font-size: small;" class="mt-3">
            <p class="text-justify" style="font-size: 15px;">
              {{ comment.content }}
            </p>
          </mat-card-subtitle>


        </mat-card-header>
      </mat-card>
      <!-- <br> -->
      <hr>
    </ng-container>

  </mat-expansion-panel>


  <mat-divider></mat-divider>
  <mat-form-field appearance="fill" class="w-100 mt-4">
    <mat-label>Write your comment here...</mat-label>
    <input (keyup.enter)="onAddComment()" [formControl]="content" matInput placeholder="Write Something">
  </mat-form-field>
</ng-container>
