<div class="form-container">
  <form [formGroup]="routineForm" (submit)="submit()" #formDirective="ngForm">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Course Title
      </mat-label>
      <input matInput formControlName="courseTitle" required>
      <mat-error>
        <span *ngIf="routineForm.controls.courseTitle.errors?.required">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>
    <mat-label> Select Days
    </mat-label>

    <ul>
      <mat-checkbox *ngFor="let day of days; let i=index" [checked]="day.completed"
        (change)="onCheckChange(days,i,$event)" style="margin-right: 10px;">
        {{day.name}}
      </mat-checkbox>
    </ul>





    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Starts At </mat-label>
      <input matInput [ngxTimepicker]="startPicker" formControlName="startTime" [value]="'12:00 pm'" required>
      <ngx-material-timepicker #startPicker (timeSet)="onChangeStart($event)"></ngx-material-timepicker>
      <!-- <mat-error >
        <span *ngIf="routineForm.controls.courseTitle.errors?.required">This field is mandatory.</span>
      </mat-error> -->
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Ends At </mat-label>
      <input matInput [ngxTimepicker]="endPicker" formControlName="endTime" [value]="'12:00 pm'" required>
      <ngx-material-timepicker #endPicker (timeSet)="onChangeEnd($event)"></ngx-material-timepicker>
      <mat-error *ngIf="routineForm.controls.endTime.errors?.timeState">
        <span>Please select a valid time.</span>
      </mat-error>
    </mat-form-field>


    <!-- <input [ngxTimepicker]="startPicker"  [value]="'12:00 pm'" >
    <ngx-material-timepicker #startPicker (timeSet)="onChangeStart($event)" ></ngx-material-timepicker>
    <input [ngxTimepicker]="endPicker"  [value]="'12:00 pm'" >
    <ngx-material-timepicker #endPicker (timeSet)="onChangeEnd($event)" ></ngx-material-timepicker> -->

    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Instructor Name
      </mat-label>
      <input matInput formControlName="instructorName" required>
      <mat-error>
        <span *ngIf="routineForm.controls.instructorName.errors?.required">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Room Number
      </mat-label>
      <input matInput formControlName="roomNum" required>
      <mat-error>
        <span *ngIf="routineForm.controls.roomNum.errors?.required">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" mat-dialog-close
      [disabled]="routineForm.invalid">Update</button>
    <button mat-raised-button color="warn" (click)="clearForm()">RESET</button>
    <button mat-raised-button mat-dialog-close style="float: right;">Close</button>
  </form>
</div>