h2,
h4 {
  width: 100%;
  text-align: center;
  /* border-bottom: 1px solid rgb(216, 214, 214); */
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h2 span {
  background: #fff;
  padding: 0 10px;
}
.custom {
  /* display: inline; */
  text-align: center;
}
.demon {
  display: flex;
  justify-content: space-evenly;
}
#color1 {
  color: grey;
  font-weight: 500;
}
.example-viewport {
  height: 200px;
  width: 100%;
  /* border: 1px solid rgb(121, 121, 121); */
}

.example-dt {
  height: 40px;
  font-weight: bold;
}

.example-dd {
  height: 30px;
}
