<div class="container">
  <mat-card>
    <mat-card-content class="host">
      <div class="form-container">
        <form [formGroup]="sessionForm" (submit)="submit()" #formDirective="ngForm">

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Course Title</mat-label>
            <input matInput formControlName="courseTitle" placeholder="Ex. CSE 350" required>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Credit</mat-label>
            <input matInput formControlName="credit" placeholder="Ex. 3" required>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Select Sessions</mat-label>
            <mat-select formControlName="session" required>
              <mat-option *ngFor="let semester of semesters" value="{{semester}}">{{semester}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Details</mat-label>
            <textarea formControlName="details" matInput rows="15"></textarea>
          </mat-form-field>
          <mat-checkbox class="example-margin" formControlName="optional">Optional Course</mat-checkbox>

          <button mat-raised-button color="primary" type="submit" [disabled]="sessionForm.invalid">Add Course</button>
          <!-- [disabled]="routineForm.invalid" -->
          <button mat-raised-button color="warn" type="button" (click)="clearForm()">RESET</button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>

</div>
