.container {
  margin-top: 30px;
}
table {
  width: 150%;
  text-align: center;
}
button {
  margin-right: 5px;
}
/* td,.mat-header-row{
  text-align:center;
} */
.mat-table {
  overflow: auto;
  /* max-height: 500px; */
}
.mat-column-name {
  border-left: 1px solid grey;
  min-height: 48px;
}
.mat-column-weight {
  border-left: 1px solid grey;

  min-height: 48px;
}
.mat-column-symbol {
  border-left: 1px solid grey;
  min-height: 48px;
}
.mat-header-cell {
  text-align: center;
}

.example-container {
  text-align: center;
}

.form-container {
  width: 400 px;
  margin: 0 px auto;
  margin-top: 200 px;
}

.form-field {
  display: block;
}

.example-check_box-margin {
  margin: 0 10px;
}
