<h2 mat-dialog-title>Add New Post</h2>
<mat-dialog-content class="mat-typography">
  <ng-template #loader>
    <mat-spinner class="mx-auto"></mat-spinner>
  </ng-template>
  <ng-container *ngIf="!isLoading; else loader;">
    <form [formGroup]="classroomPostForm">
      <mat-form-field class="w-100">
        <mat-label>Post</mat-label>
        <textarea formControlName="content" matInput rows="6"></textarea>
        <mat-error *ngIf="classroomPostForm.get('content').hasError('required')">
          Required
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field> -->
      <div class="mt-3">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
          (onFileLeave)="fileLeave($event)" [multiple]="true" [directory]="false">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <button mat-raised-button type="button" (click)="openFileSelector()">Browse</button>
            <span>&nbsp; or Drop your files</span>
          </ng-template>
        </ngx-file-drop>
      </div>

      <ng-container *ngIf="classroomPostForm.get('files').value.length > 0">
        <mat-form-field class="w-100">
          <mat-chip-list aria-label="Selected Files">
            <mat-chip *ngFor="let igControl of classroomPostForm.get('files')['controls']; let i=index"
              [removable]="true" (removed)="removeFile(i)">
              {{ igControl.value.name }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>
      </ng-container>

    </form>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="classroomPostForm.invalid">Create</button>
  <!--  -->
  <!-- [mat-dialog-close]="true" -->
</mat-dialog-actions>
