<div class="container">
  <!-- <br /> -->
  <mat-card-header style="display: flex; justify-content: center">
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Class Routine</mat-card-title>
    <mat-card-subtitle>Session : {{ data.session.session }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img src="{{ data.session.routine_uri }}" alt="Welcome Image" class="img-fluid"
      style="max-height: 100%; max-width: 100%" />
  </mat-card-content>
  <!-- <div style="display: flex; justify-content: right">
    <button mat-raised-button color="warn">Close <span></span></button>
  </div> -->
</div>
