<div class="row mb-1 ml-0 mr-0">
  <div class="col-md-4 col-sm-12">
    <div class="row">
      <div class="col-12">
        <mat-card class="mt-3" style="min-height: 120px">
          <p>
            Total Classes: <span class="float-right font-weight-bold">{{ lecture.length }}</span>
          </p>
          <p>
            Assignments: <span class="float-right font-weight-bold">{{ assignmentsCount }}</span>
          </p>
          <p>
            Tests Taken: <span class="float-right font-weight-bold">{{ termTestCount }}</span>
          </p>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-12">
    <div class="row mt-3">
      <div class="col-12">
        <mat-card style="min-height: 120px">
          <mat-form-field class="w-100">
            <!-- <mat-label>Post Here...</mat-label>
            <textarea matInput placeholder="Write Something" rows="3"></textarea> -->
            <mat-chip-list aria-label="Fish selection">
              <mat-chip style="cursor: pointer" (click)="openPostDialog()">+Add New Post</mat-chip>
            </mat-chip-list>
          </mat-form-field>
        </mat-card>
      </div>
    </div>

    <ng-container *ngFor="let post of posts">
      <app-classroom-post [post]="post"></app-classroom-post>
    </ng-container>
  </div>
</div>
