<mat-card class="m-3 p-4">
  <button mat-raised-button color="primary" (click)="openAttendanceDialog()">
    <mat-icon>add</mat-icon>Take Attendance
  </button>
</mat-card>

<div class="row mt-2 ml-0 mr-0 mb-3">
  <div class="col-12">
    <mat-form-field class="w-50">
      <mat-label>Type Name or Registration or Email...</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
    </mat-form-field>
    <div class="student-container mat-elevation-z8">
      <div class="student-table-container">
        <table mat-table [dataSource]="dataSource" matSort style="overflow-x: scroll" class="w-100">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.user.name }}</td>
          </ng-container>

          <!-- Registration Column -->
          <ng-container matColumnDef="registration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Registration
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.registration }}
            </td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.user.email }}</td>
          </ng-container>


          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <button mat-mini-fab color="primary" (click)="onDetails(row.id)">
                <mat-icon>list_alt</mat-icon>
              </button>
              <!-- <button mat-mini-fab color="warn" (click)="onDelete(row.id)">
                <mat-icon>delete</mat-icon>
              </button> -->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <!-- (click)="selection.toggle(row)" -->
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row mr-0 ml-0">
  <div class="col-12">
    <mat-card class="my-3 mat-elevation-z8">
      <button mat-raised-button color="warn" (click)="onRemoveStudents()" [disabled]="selection.isEmpty()">
        Remove
      </button>
    </mat-card>
  </div>
</div>

<div *ngIf="!selection.isEmpty()" class="row mr-0 ml-0">
  <div class="col-12">
    <mat-card class="my-3 mat-elevation-z8">
      <mat-chip-list aria-label="For Removal">
        <mat-chip *ngFor="let student of selection.selected">{{
          student.user.name
          }}</mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
</div> -->
