.mat-row {
  height: 50px;
}

.mat-cell {
  padding: 8px 30px 8px 0;
  /* text-align: center; */
}

.student-container {
  position: relative;
  /* min-height: 500px; */
}

.student-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.user_avatar {
  height: 50px;
  width: 50px;
  border: 7px solid #f5f6fa;
}
/* .mat-column-isPresent {
  border-left: 1px solid grey;
  align-self: stretch;
  text-align: center;
  padding: 10px;
  width: auto;
} */
.mat-column-actions {
  /* border-left: 1px solid grey; */
  align-self: stretch;
  text-align: center;
  /* justify-content: space-between; */
  padding: 0px;
  width: 12%;
}
.mat-mini-fab {
  margin-left: 5px;
  /* display: block; */
  /* padding: 50px; */
}
