<div class="container">
  <ng-template #loader>
    <div class="row">
      <mat-spinner class="mx-auto"></mat-spinner>
    </div>
  </ng-template>
  <ng-container *ngIf="(classroom$ | async)?.data.classroom as classroom; else loader">

    <div class="row justify-content-center mt-2">
      <div class="col-12">
        <mat-card class="p-0 mat-elevation-z8">
          <div class="classroom-image  p-0">
            <div class="row">
              <div class="col-12">
                <h1 class="text-center mt-5 font-weight-bold">{{ classroom.course.title }} (SWE-332)
                </h1>
                <h3 class="text-center font-weight-bold">By</h3>
                <h2 class="text-center font-weight-bold">{{ classroom.teacher.user.name }}</h2>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">

        <mat-tab-group mat-align-tabs="center" backgroundColor="" #tabGroup>
          <mat-tab>
            <ng-template mat-tab-label>General</ng-template>
            <app-classroom-general [posts]="classroom.posts" [classwork]="classroom.classworks"
              [lecture]="classroom.lectures"></app-classroom-general>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>Classwork</ng-template>
            <app-classroom-classwork [classworks]="classroom.classworks"></app-classroom-classwork>
          </mat-tab>
          <ng-container *ngIf="isTeacher">
            <mat-tab>
              <ng-template mat-tab-label>Students</ng-template>
              <app-classroom-students [students]="classroom.students"></app-classroom-students>
            </mat-tab>
          </ng-container>

        </mat-tab-group>
      </div>
    </div>
  </ng-container>

</div>
